.home-catalog {
    display: flex;
    align-items: stretch;
    padding-top: 130px;
    padding-bottom: 40px;

    @include max(large) {
        padding-top: 60px;
    }

    @include max(mobile) {
        padding-top: 30px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-bottom: 13.5vh;
        color: $c-white;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;

        @include max(tablet) {
            gap: 16px;
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }

        @include max(xs) {
            gap: 12px;
        }
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
        grid-auto-rows: max-content;

        @include max(tablet) {
            gap: 16px;
        }

        @include max(xs) {
            gap: 12px;
        }
    }

}