// шрифты
$ff-montserrat: 'Montserrat', sans-serif;
$ff-code: 'Source Code Pro', monospace;

// media
$media-list: (
    'xs': 500,
    'mobile': 767,
    'tablet': 1023,
    'forFooter': 1260,
    'laptop': 1320,
    'large': 1800,
    'full': 2000,
);

// Цвета
$c-white: #fff;
$c-black: #000;
$c-bg-grey: #434342;
$c-bg-grey-dark: #1B1B1A;
$c-accent: #E7BDA9;
$c-accent-hover: #865F46;
$c-bg-main: #000;
$c-text-grey: #B1B1B1;
$c-text-light: #BDBDBD;
$c-error: #EA4C3A;
$c-border: #727271;
$c-logo-light: #FEFEFE;
$c-tag-sale: #B10024;
$c-tag-new: #0D6E00;
$c-favorite: #841315;


$c-bg-input: #F3F3F3;
$c-bg-dark: #1C1C1C;
$c-text: #111;
$c-text-btn: #1c1c1c;
$c-link: #2A66B0;
$c-green: #81B952;

// скругления

$br-10: 10px;
$br-20: 20px;
$br-30: 30px;

// переходы
$tr: .3s linear;
$tr-long: .5s linear;