.s-news {
    margin-top: 160px;
    margin-bottom: 40px;

    &__container {
        display: flex;
        align-items: stretch;
        gap: 50px;
    }

    &__header {
        flex: 0 0 416px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        @include max(large) {
            flex: 0 0 400px;
        }
    }

    &__controls {
        margin-top: auto;
    }

    &__slider {
        flex: 1 1 auto;
        max-width: calc(100% - 416px - 50px + 40px);
        overflow: hidden;
        margin-right: -40px;
        padding-right: 40px;
    }

}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 20px 40px;
    background-color: rgba(67, 67, 66, 0.4);
    color: $c-white;

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
    }

    &__desc {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
    }

    &__date {
        color: $c-border;
    }

    &__text {
        color: $c-text-grey;
        margin-top: 10px;
        min-height: 13.0625em;
    }

    &__link {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: $c-white;
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}