.s-news {
    padding-top: 160px;
    padding-bottom: 40px;

    @include max(large) {
        padding-top: 60px;
    }

    @include max(mobile) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__container {
        display: flex;
        align-items: stretch;
        gap: 50px;

        @include max(laptop) {
            gap: 32px;
        }

        @include max(tablet) {
            flex-direction: column;
        }
    }

    &__header {
        flex: 0 0 416px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        @include max(large) {
            flex: 0 0 400px;
        }

        @include max(laptop) {
            flex: 0 0 270px;
        }

        @include max(tablet) {
            position: relative;
            flex: 0 0 auto;
        }
    }

    &__controls {
        margin-top: auto;

        @include max(tablet) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &__slider {
        flex: 1 1 auto;
        max-width: calc(100% - 416px - 50px + 40px);
        overflow: hidden;
        margin-right: -40px;
        padding-right: 40px;

        @include max(large) {
            max-width: calc(100% - 400px - 50px + 30px);
            margin-right: -30px;
            padding-right: 30px;
        }

        @include max(laptop) {
            max-width: calc(100% - 270px - 32px + 30px);
        }

        @include max(tablet) {
            max-width: calc(100% + 20px);
            margin-right: -20px;
            padding-right: 20px;
        }
    }

}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 20px 40px;
    background-color: rgba(67, 67, 66, 0.4);
    color: $c-white;

    @include max(laptop) {
        padding: 12px 12px 32px;
    }

    @include max(xs) {
        padding: 10px 10px 24px;
        gap: 20px;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: auto;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(xs) {
            font-size: 16px;
        }
    }

    &__desc {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;

        @include max(xs) {
            font-size: 14px;
        }
    }

    &__date {
        color: $c-border;
    }

    &__text {
        color: $c-text-grey;
        margin-top: 10px;
        min-height: 13.0625em;
    }

    &__link {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: $c-white;
        transition: all $tr;

        @include max(xs) {
            font-size: 11px;
        }

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 18px;
            height: 18px;

            @include max(xs) {
                width: 14px;
                height: 14px;
            }
        }
    }
}