.prods-list {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 50px 24px;
        margin-top: 40px;

        @include max(laptop) {
            gap: 40px 16px;
        }

        @include max(tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include max(mobile) {
            margin-top: 24px;
            gap: 24px 12px;
        }

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}