.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    transition: top $tr-long, background-color $tr-long;
    padding-top: 20px;
    padding-bottom: 20px;

    @include max(mobile) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__logo {
        flex: 0 0 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 140px;
            height: 81px;
        }

        @include max(tablet) {
            flex-basis: 70px;

            svg {
                width: 70px;
                height: 40.5px;
            }
        }
    }

    &__side {
        flex: 0 1 auto;
        display: flex;
        align-items: flex-start;
        gap: 25px;

        @include max(tablet) {
            display: none;
        }
    }

    &__side--center {
        align-items: center;
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        color: $c-white;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }

    &__contact {
        color: $c-white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $c-white;
    }

    a.site-header__contact,
    a.site-header__control {
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }

    }

    &__controls {
        display: flex;
        align-items: center;
        align-self: center;
        gap: 20px;
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-white;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        @include max(tablet) {
            display: none;
        }
    }

    &--fixed {
        top: -157px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);

        @include max(tablet) {
            top: 0;
        }
    }

    .main-menu {
        transition: background-color 0.3s linear;
    }

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

        svg {
            width: 32px;
            height: 32px;

            @include max(xs) {
                width: 26px;
                height: 26px;
            }
        }

        @include max(tablet) {
            display: flex;
        }
    }
}

.site-header {
    &__small {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__small &__logo {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.site-header {
    &--full &__small {
        height: 0;
        overflow: hidden;
        transition: height $tr-long;
    }

    &--fixed &__small {
        overflow: visible;
    }
}