.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    transition: top $tr;
    padding-top: 20px;

    @include max(mobile) {
        padding-top: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__logo {
        flex: 0 0 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(tablet) {
            flex-basis: 70px;
        }
    }

    &__side {
        flex: 0 1 auto;
        display: flex;
        align-items: flex-start;
        gap: 25px;

        @include max(tablet) {
            display: none;
        }
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        color: $c-white;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }

    &__contact {
        color: $c-white;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $c-white;
    }

    a.site-header__contact {
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }

    }

    &__nav {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        @include max(tablet) {
            display: none;
        }
    }



    /*&--fixed {
        top: 20px;

        @include max(mobile) {
            top: 10px;
        }
    }*/

    &__burger {
        display: none;
        color: $c-accent;
        transition: all $tr;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

        svg {
            width: 32px;
            height: 32px;

            @include max(xs) {
                width: 26px;
                height: 26px;
            }
        }

        @include max(tablet) {
            display: flex;
        }
    }
}