header.site-header(data-js="siteHeader")
    .section
        .d-container
            .site-header__container
                .site-header__top
                    .site-header__side
                        .site-header__location
                            form(action="#").site-header__region
                                +field({
                                    tag: 'select',
                                    placeholder: 'Выберите город',
                                    selectOptions: [
                                        {
                                            value: 'Воронеж',
                                            isActive: false
                                        },
                                        {
                                            value: 'Краснодар',
                                            isActive: false
                                        },
                                        {
                                            value: 'Пятигорск',
                                            isActive: true
                                        },
                                        {
                                            value: 'Санкт-Петербург',
                                            isActive: false
                                        },
                                        {
                                            value: 'Севастополь',
                                            isActive: false
                                        },
                                        {
                                            value: 'Сочи',
                                            isActive: false
                                        }
                                    ],
                                    selectNoForm: true,
                                })

                            .site-header__address
                                svg
                                    use(xlink:href=`img/sprites/sprite.svg#location`)
                                span пос. Иноземцево, ул. Промышленная, д.11

                    a.site-header__logo(href="/")
                        img(src="img/logo_full.svg" alt="Deffo логотип")

                    .site-header__side
                        +socials({
                            mode: 'header'
                        })
                        .site-header__contacts
                            a.site-header__contact(href="tel:+78002220026") +7 (800) 222-00-26
                            +btn({
                                type: 'button',
                                name: 'Заказать звонок',
                                cMode: 'transparent',
                                icon: 'arrow_top_right'

                            })(data-modal="#callbackModal")

                    .site-header__burger(data-js='mainBurgerOpen')
                        svg 
                            use(xlink:href=`img/sprites/sprite.svg#main_burger`)


                nav.site-header__nav
                    +main-menu