.s-title {
    &__container {
        max-width: 1380px;
    }

    &__text.text-editor {
        margin-top: 30px;
        font-size: 17px;

        @include max(laptop) {
            font-size: 16px;

            br {
                display: none;
            }
        }
    }
}