.s-title {
    &__container {
        max-width: 1380px;
    }

    &__text {
        margin-top: 30px;
        font-size: 17px;

        @include max(laptop) {
            font-size: 16px;

            br {
                display: none;
            }
        }

        @include max(mobile) {
            margin-top: 20px;
        }
    }
}