.s-title {
    &__container {
        max-width: 1380px;
    }

    &__text {
        margin-top: 30px;
        font-size: 17px;

        @include max(laptop) {
            font-size: 16px;

            br {
                display: none;
            }
        }

        @include max(mobile) {
            margin-top: 20px;
        }
    }

    &__btns {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
        overflow: auto;
        width: 100%;
        padding-bottom: 5px;

        @include max(mobile) {
            gap: 8px;
        }

        .d-btn {
            flex: 0 0 auto;
            max-width: calc(50% - 4px);
        }

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $c-accent-hover;
            border-radius: 2px;
        }
    }
}