.s-stocks {
    padding-top: 160px;
    padding-bottom: 40px;

    @include max(large) {
        padding-top: 60px;
    }

    @include max(mobile) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__slider {
        margin-top: 100px;

        @include max(large) {
            margin-top: 40px;
        }
    }

    &__card {
        position: relative;
        aspect-ratio: 1 / 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

}