.s-video {
    &__poster {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 0.516;
        z-index: 1;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 3;
        border-radius: 100%;
        border: 1px solid $c-white;
        color: $c-white;
        opacity: 0.7;
        transition: all $tr;
        transform: translate(-50%, -50%);

        &:hover {
            opacity: 1;
            border-color: $c-accent;
            color: $c-accent;
        }

        svg {
            width: 70px;
            height: 86px;
        }
    }
}