mixin mixins()
    //- Компоненты
    include ../../blocks/components/socials/socials
    include ../../blocks/components/main-menu/main-menu
    include ../../blocks/components/field/field
    include ../../blocks/components/form/form
    include ../../blocks/components/btn/btn
    include ../../blocks/components/modal/modal
    include ../../blocks/components/title/title

    //- Модули
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/modals/modals
    include ../../blocks/modules/home-intro/home-intro
    include ../../blocks/modules/s-catalog/s-catalog
    include ../../blocks/modules/solutions/solutions
    include ../../blocks/modules/s-about/s-about
    include ../../blocks/modules/s-download/s-download