mixin mixins()
    //- Компоненты
    include ../../blocks/components/socials/socials
    include ../../blocks/components/main-menu/main-menu
    include ../../blocks/components/field/field
    include ../../blocks/components/form/form
    include ../../blocks/components/btn/btn
    include ../../blocks/components/modal/modal
    include ../../blocks/components/title/title
    include ../../blocks/components/slider-controls/slider-controls
    include ../../blocks/components/dl-btn/dl-btn
    include ../../blocks/components/prod-card/prod-card

    //- Модули
    include ../../blocks/modules/preloader/preloader
    include ../../blocks/modules/header/header
    include ../../blocks/modules/breadcrumbs/breadcrumbs
    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/modals/modals
    include ../../blocks/modules/home-intro/home-intro
    include ../../blocks/modules/tabs-block/tabs-block
    include ../../blocks/modules/home-catalog/home-catalog
    include ../../blocks/modules/solutions/solutions
    include ../../blocks/modules/s-about/s-about
    include ../../blocks/modules/s-download/s-download
    include ../../blocks/modules/s-stocks/s-stocks
    include ../../blocks/modules/s-news/s-news
    include ../../blocks/modules/accordion/accordion
    include ../../blocks/modules/s-faq/s-faq
    include ../../blocks/modules/s-map/s-map
    include ../../blocks/modules/s-docs/s-docs
    include ../../blocks/modules/s-catalog/s-catalog
    include ../../blocks/modules/s-conditions/s-conditions
    include ../../blocks/modules/s-title/s-title
    include ../../blocks/modules/img-text/img-text
    include ../../blocks/modules/partner-form/partner-form
    include ../../blocks/modules/prods-list/prods-list