.gallery-slider {
    position: relative;
    padding-top: 60px;

    &__slider {
        margin: 0 auto;
        overflow: hidden;
        width: calc(100% - 88px * 2);
    }

    .slider-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $c-white;
    }

    .slider-control--prev {
        left: 40px;
    }

    .slider-control--next {
        right: 40px;
    }

    &__card {
        position: relative;
        aspect-ratio: 1 / 0.698;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}