.home-intro {
    display: flex;
    align-items: stretch;
    padding-top: 180px;
    min-height: 100vh;
    min-height: 100dvh;

    @include max(laptop) {
        padding-top: 55px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-bottom: 13.5vh;
        color: $c-white;

        @include max(laptop) {
            padding-bottom: 55px;
        }
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;

        @include max(mobile) {
            font-size: 14px;
            max-width: 400px;
        }
    }

}