.product-intro {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        margin-top: 50px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
        text-transform: uppercase;
        color: $c-border;
    }
}

.pi-desc {
    padding-right: 75px;
}

.pi-slider {
    &__wrapper {
        padding: 42px 92px 87px;
        background-color: rgba(67, 67, 66, 0.7);
    }

    &__slider {
        overflow: hidden;
    }

    &__slide {
        img {
            width: 100%;
            aspect-ratio: 1 / 1.57;
            object-fit: contain;
        }
    }

    &__controls {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        width: fit-content;
        margin: -60px auto 0;
    }

    &__mo {
        flex: 0 0 auto;
        position: relative;
    }

    &__3d {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        text-transform: uppercase;
    }

    &__thumbs {
        flex: 0 1 auto;
        overflow: hidden;
    }

    &__thumb,
    &__mo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        padding: 13px;
        background-color: $c-bg-grey;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.pi-info {
    display: flex;
    flex-direction: column;
    gap: 106px;
    padding-left: 75px;

    &__cards {
        display: flex;
        align-items: flex-start;
        gap: 20px;

    }
}