.product-intro {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        margin-top: 50px;

        @include max(large) {
            gap: 40px;
            grid-template-columns: minmax(0, 35%) minmax(0, 25%) minmax(0, 40%);
        }

        @include max(laptop) {
            grid-template-columns: minmax(0, 60%) minmax(0, 40%);
        }

    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
        text-transform: uppercase;
        color: $c-border;
    }

    &__side--last {
        @include max(laptop) {
            grid-column: 1 / 3;
        }
    }
}

.pi-desc {
    padding-right: 75px;

    @include max(large) {
        padding-right: 0;
    }
}

.pi-slider {
    &__wrapper {
        padding: 42px 92px 87px;
        background-color: rgba(67, 67, 66, 0.7);

        @include max(large) {
            padding: 24px 50px 50px;
        }
    }

    &__slider {
        overflow: hidden;
    }

    &__slide {
        position: relative;

        a {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            aspect-ratio: 1 / 1.57;
            object-fit: contain;
        }
    }

    &__controls {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        width: fit-content;
        margin: -60px auto 0;

        @include max(large) {
            margin-top: -35px;
            gap: 10px;
        }
    }

    &__mo {
        flex: 0 0 auto;
        position: relative;
    }

    &__3d {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        text-transform: uppercase;

        @include max(large) {
            width: 24px;
            height: 24px;
            font-size: 10px;
        }
    }

    &__thumbs {
        flex: 0 1 auto;
        overflow: hidden;
    }

    &__thumb,
    &__mo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        padding: 13px;
        background-color: $c-bg-grey;
        cursor: pointer;

        @include max(large) {
            width: 70px;
            height: 70px;
            padding: 8px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.pi-info {
    display: flex;
    flex-direction: column;
    gap: 106px;
    padding-left: 75px;

    @include max(large) {
        padding-left: 0;
        gap: 50px;
    }

    @include max(laptop) {
        flex-direction: row;
        display: grid;
        gap: 40px;
        grid-template-columns: minmax(0, 60%) minmax(0, 40%);

    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__tag {
        padding: 15px 25px;
        min-height: 59px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(67, 67, 66, 0.5);
        border-radius: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;

        @include max(large) {
            padding: 10px 20px;
            min-height: 50px;
            font-size: 14px;
        }
    }

    &__controls {
        display: flex;
        align-items: stretch;
        gap: 20px;
        margin-top: 40px;
    }

    &__favorite {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 25px;
        border: 1px solid;
        border-image-source: linear-gradient(90deg, #B68C74 0%, #865F46 100%);
        border-image-slice: 20;
        color: $c-accent;
        transition: color $tr;

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__cards {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}