extends ../layouts/default

block variables
    - const title = "Техническая документация"
    - const fullHeader = false 

block content
    .page(data-js="page")
        .page-layout
            +breadcrumbs
            +s-docs

