extends ../layouts/default

block variables
    - const title = "Избранное"
    - const fullHeader = false

block content
    .page(data-js="page")
        .page-layout
            +breadcrumbs({
                items: [
                    {
                        name: 'DEFFO',
                        link: 'javascript:void(0);'
                    },
                    {
                        name: 'Избранное',
                        link: 'javascript:void(0);'
                    }
                ],
            })

            +s-title({
                title: 'Избранное',
                text: 'Многолетний опыт, профессиональные сотрудники, а также современное оборудование <br>и широкий выбор ассортимента наших каталогов позволяют с легкостью решать любые вопросы, <br>которые могут возникать перед нашими клиентами.'
            })

            +prods-list({
                title: 'Избранные элементы каталога «Виды продукции»',
                cards: [
                    {
                        title: 'Фасад прямой с решеткой №3',
                        img: 'img/catalog/prod_2.webp',
                        isFavorite: true,
                        tags: [
                            {
                                text: 'Распродажа',
                                icon: 'img/catalog/tag_sale.svg'
                            }
                        ]
                    },
                    {
                        title: 'Фасад прямой под стекло 3 ВД №3',
                        img: 'img/catalog/prod_4.webp',
                        isFavorite: true
                    },
                    {
                        title: 'Фасад прямой с решеткой №1',
                        img: 'img/catalog/prod_5.webp',
                        isFavorite: true,
                        tags: [
                            {
                                text: 'Новинка',
                                icon: 'img/catalog/tag_new.svg'
                            }
                        ]
                    },
                    {
                        title: 'Фасад прямой под стекло 3 ВД №4',
                        img: 'img/catalog/prod_1.webp',
                        isFavorite: true
                    },
                    {
                        title: 'Фасад прямой под стекло 3 ВД №5 (3*2)',
                        img: 'img/catalog/prod_6.webp',
                        isFavorite: true
                    },
                    {
                        title: 'Фасад прямой с решеткой №2',
                        img: 'img/catalog/prod_3.webp',
                        isFavorite: true
                    },
                    {
                        title: 'Фасад прямой под стекло 3 ВД №6',
                        img: 'img/catalog/prod_7.webp',
                        isFavorite: true
                    },
                ]
            })

            +prods-list({
                title: 'Избранные элементы каталога «Фрезеровка»',
                cards: [
                    {
                        title: 'Фасад прямой под стекло 3 ВД №3',
                        img: 'img/catalog/prod_2.webp',
                        isFavorite: true,
                    },
                    {
                        title: 'Фасад прямой под стекло 3 ВД №5 (3*2)',
                        img: 'img/catalog/prod_5.webp',
                        isFavorite: true,
                        tags: [
                            {
                                text: 'Новинка',
                                icon: 'img/catalog/tag_new.svg'
                            }
                        ]
                    },
                    {
                        title: 'Фасад прямой с решеткой №1',
                        img: 'img/catalog/prod_7.webp',
                        isFavorite: true
                    },
                ]
            })


