extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="page")
        .page-layout
            +home-intro
            +s-catalog()(id="homeCatalog")
            +solutions
            +s-about
            +s-download
            +s-stocks
            +s-news
            +s-faq
            +s-map

