extends ../layouts/default

block variables
    - const title = "Главная"

block content
    .page(data-js="page")
        .page-layout
            section.home-intro.section.section--top.section--fh
                .section__bg
                    picture
                        img(src='img/home/intro_bg.webp' alt='')
                .d-container

