extends ../layouts/default

block variables
    - const title = "Персональный раздел"
    - const fullHeader = false

block content
    .page(data-js="page")
        .page-layout
            +lk-layout


