.s-map {
    padding-top: 160px;

    @include max(large) {
        padding-top: 60px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;

        @include max(laptop) {
            gap: 12px;
        }

        @include max(tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__wrapper {
        position: relative;
        margin-top: 32px;
    }

    &__el {
        height: 400px;
        transition: all $tr-long;
    }

    &__wrapper.full &__el {
        height: 800px;
    }

    &__wrapper.full &__full {
        svg {
            transform: rotate(180deg);
        }

        .d-show {
            display: none;
        }

        .d-hide {
            display: block;
        }
    }

    &__full {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 25px;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: $c-white;
        transition: all $tr;
        background-color: rgba(11, 11, 11, 0.7);
        backdrop-filter: blur(20px);
        cursor: pointer;

        .d-show {
            display: block;
        }

        .d-hide {
            display: none;
        }

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 18px;
            height: 18px;
            transition: all $tr-long;
        }
    }

}

.address-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 20px;
    background-color: rgba(67, 67, 66, 0.5);
    backdrop-filter: blur(40px);
    color: $c-white;

    @include max(laptop) {
        padding: 24px 16px;
        gap: 12px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: $c-bg-grey;
        border-top-left-radius: 0;
        border-top-right-radius: 400px;
        border-bottom-right-radius: 400px;
        border-bottom-left-radius: 0;
        transition: all 0.5s linear
    }

    &:hover:before {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;

        svg {
            width: 24px;
            height: 24px;

            @include max(laptop) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-transform: uppercase;

        @include max(laptop) {
            font-size: 16px;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $c-bg-grey;
        transition: all 0.5s linear;

        @include max(laptop) {
            padding-top: 12px;
            margin-top: 12px;
        }
    }


    &:hover &__info {
        border-color: #707070;
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-weight: 600;
        }

        a {
            transition: all $tr;
        }

        a:hover {
            color: $c-accent;
        }
    }

    &__text,
    &__contact {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        @include max(laptop) {
            font-size: 15px;
        }
    }

    &__ws {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $c-text-grey;

        @include max(laptop) {
            font-size: 13px;
        }
    }

}