.solutions {
    padding-top: 160px;
    padding-bottom: 40px;

    @include max(large) {
        padding-top: 60px;
    }

    @include max(mobile) {
        padding-top: 30px;
    }

    &__slider {
        margin-top: 50px;
    }
}

.solutions-card {
    display: flex;
    align-items: stretch;
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all $tr-long;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover &__bg {
        transform: scale(1.07);
    }

    &__link {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $c-white;

        @include max(mobile) {
            font-size: 20px;
        }
    }
}