-
    const defaultSolutionsProps = {
        classes: '',
    }

mixin solutions(props= defaultSolutionsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSolutionsProps.classes,
        }

    section.solutions.section(class= checkProps.classes data-js="solutions")&attributes(attributes)    
        .section__bg
            picture
                img(src='img/home/blured_bg.webp' alt='')

        .d-container
            .section__header
                .section__title-block
                    +title({
                        text: 'Готовые решения',
                        tag: 'h2',
                        animColor: true
                    })(data-js="solutionsTitle" data-aos-anchor="[data-js='solutions']" data-aos="fade-left" data-aos-anchor-placement='top-center' data-aos-duration='1000')
                +btn({
                    name: 'Каталог фасадов'
                })(data-aos="fade-left" data-aos-anchor="[data-js='solutions']" data-aos-anchor-placement='top-center' data-aos-duration='1000' data-aos-delay="1300")
            .solutions__slider(data-js="solutionsSlider" data-aos="fade-left" data-aos-anchor="[data-js='solutions']" data-aos-anchor-placement='top-center' data-aos-duration='1000' data-aos-delay="300")
                .swiper-wrapper
                    .swiper-slide.solutions-card
                        .solutions-card__bg
                            img(src="img/solutions/solutions_1.webp" alt="")
                        a(href="javascript:void(0);").solutions-card__link Эворон
                    .swiper-slide.solutions-card
                        .solutions-card__bg
                            img(src="img/solutions/solutions_2.webp" alt="")
                        a(href="javascript:void(0);").solutions-card__link Гокли
                    .swiper-slide.solutions-card
                        .solutions-card__bg
                            img(src="img/solutions/solutions_3.webp" alt="")
                        a(href="javascript:void(0);").solutions-card__link Эльтон
