.solution-intro {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    padding-left: 0;
    padding-right: 0;

    @include max(large) {
        padding-left: 0;
        padding-right: 0;
    }

    @include max(tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    @include max(mobile) {
        padding-left: 0;
        padding-right: 0;
    }

    &__top {
        flex: 1 1 auto;
        min-height: 480px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;
        overflow: hidden;
        z-index: 1;
        color: $c-cards-bg;

        @include max(mobile) {
            min-height: 88.5vw;
        }
    }

    &__twrap,
    &__sep {
        position: relative;
    }

    &__title {
        text-align: center;
        color: $c-cards-bg;

        [data-anim-type="textColor"] {
            background: linear-gradient(to right, $c-cards-bg 0%, $c-cards-bg 50%, #727271 50%, #727271 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100% 0;

            &.animated {
                background-position: 0 0;
            }
        }
    }

    &__sep {
        margin-bottom: 50px;

        @include max(mobile) {
            margin-bottom: 20px;
        }
    }

    &__sep .separator__center,
    &__sep .separator__side {
        background-color: $c-cards-bg;
    }

    &__tooltip {
        position: absolute;
        z-index: 5;
    }

    &__info {
        flex: 0 0 auto;
        position: relative;
        z-index: 1;
        background-color: #171717;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)) minmax(220px, 22%);
        align-items: stretch;
        gap: 50px 40px;
        padding: 40px 0;

        @include max(large) {
            grid-template-columns: repeat(3, minmax(0, 1fr)) minmax(220px, 17%);
            gap: 30px 24px;
            padding: 40px 30px;
        }

        @include max(laptop) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding: 30px;
        }

        @include max(tablet) {
            padding: 30px 20px;
        }

        @include max(mobile) {
            gap: 32px 16px;
            padding: 20px 10px;
        }

        @include max(xs) {
            gap: 24px;
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__btn {
        margin-left: auto;
        align-self: center;

        @include max(laptop) {
            margin-left: 0;
        }
    }

}