-
    const defaultSolutionIntroProps = {
        classes: ''
    }

mixin solution-intro(props= defaultSolutionIntroProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultHomeIntroProps.classes
        }

    section.solution-intro.section(class= checkProps.classes data-js="solutionIntro")&attributes(attributes)    
        .section__bg.section__bg--overlay
            picture
                img(src='img/solutions/solutions_3.webp' alt='')

        .d-container
            .solution-intro__top
                div(data-js="solutionIntroTitle" data-anim-type='opacity')
                    +title({
                        classes: 'solution-intro__title',
                        tag: 'h1',
                        text: 'Эльтон',
                        animColor: true
                    })

                .solution-intro__sep.separator(data-js="solutionIntroSeparator" data-anim-type='separator')
                    .separator__side.separator__side--left
                    .separator__center
                    .separator__side.separator__side--right

                +tooltip({
                    classes: 'solution-intro__tooltip',
                    text: 'Фасад прямой глухой 6А'
                })(style="left: 68%; top: 16.7%;" data-anim-type='opacity')
                +tooltip({
                    classes: 'solution-intro__tooltip',
                    text: 'Фасад прямой глухой 6А'
                })(style="left: 26%; top: 33.3%;" data-anim-type='opacity')
                +tooltip({
                    classes: 'solution-intro__tooltip',
                    text: 'Фасад прямой с интегрированной ручкой'
                })(style="left: 54.4%; top: 76.8%;" data-anim-type='opacity')

            .solution-intro__info(data-anim-id="solutionIntroInfo")
                .condition-card.solution-intro__card(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" data-aos-anchor="[data-anim-id='solutionIntroInfo']" data-aos-anchor-placement="top-bottom")
                    .condition-card__icon
                        img(src="img/conditions/conditions_11.svg" alt="")
                    .condition-card__title Используемые покрытия:
                    .condition-card__text.text-editor SWGM009 Walnut <br>Краска RAL9010

                .condition-card.solution-intro__card(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-anchor="[data-anim-id='solutionIntroInfo']" data-aos-anchor-placement="top-bottom")
                    .condition-card__icon
                        img(src="img/conditions/conditions_12.svg" alt="")
                    .condition-card__title Используемые фрезеровки:
                    .condition-card__text.text-editor A6

                .condition-card.solution-intro__card(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" data-aos-anchor="[data-anim-id='solutionIntroInfo']" data-aos-anchor-placement="top-bottom")
                    .condition-card__icon
                        img(src="img/conditions/conditions_13.svg" alt="")
                    .condition-card__title Используемые элементы:
                    .condition-card__text.text-editor Фасад прямой глухой 6А <br>Фасад прямой с интегрированной ручкой

                +btn({
                    classes: 'solution-intro__btn',
                    name: 'Заказать такой же',
                })(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-anchor="[data-anim-id='solutionIntroInfo']" data-aos-anchor-placement="top-bottom")
