.dl-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 25px 30px;
    color: $c-white;
    background-color: rgba(67, 67, 66, 0.4);

    @include max(large) {
        gap: 20px;
        padding: 20px;
    }

    @include max(laptop) {
        gap: 16px;
        padding: 16px;
    }

    @include max(xs) {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12px;
    }

    &__icon {
        flex: 0 0 50px;

        @include max(xs) {
            flex-basis: 30px;
        }

        img {
            width: 100%;
        }
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        @include max(xs) {
            flex: 0 0 100%;
            order: 2;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $c-white;

        @include max(laptop) {
            font-size: 16px;
        }

        @include max(mobile) {
            font-size: 14px;
        }
    }

    &__date,
    &__size {
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;
        color: $c-text-light;

        @include max(laptop) {
            font-size: 13px;
        }
    }

    &__btn {
        flex: 0 0 auto;
    }
}