.prod-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__top {
        flex: 0 0 auto;
        position: relative;
        padding: 33px 46px 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-cards-bg;

        @include max(laptop) {
            padding: 20px 24px 20px;
        }

        @include max(mobile) {
            padding: 10px 12px 10px;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1.57;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__favorite {
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transition: all $tr;
        color: transparent;

        @include min(tablet) {
            visibility: hidden;
            opacity: 0;
            transform: translateY(50%);
        }

        @include max(laptop) {
            right: 10px;
            top: 10px;
        }

        @include max(mobile) {
            right: 5px;
            top: 5px;
        }

        svg {
            width: 36px;
            height: 36px;

            @include max(laptop) {
                width: 24px;
                height: 24px;
            }

            @include max(mobile) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &:hover &__favorite,
    &--favorite &__favorite {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    &--favorite &__favorite {
        color: $c-favorite;
    }

    &__tags {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;

        @include max(laptop) {
            right: 10px;
            bottom: 10px;
        }

        @include max(mobile) {
            right: 5px;
            bottom: 5px;
        }
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px 6px 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $c-white;

        @include max(laptop) {
            font-size: 12px;
            padding: 5px 8px 6px 5px;
        }

        @include max(mobile) {
            padding: 2px 5px 3px 2px;
            font-size: 10px;
        }

        img {
            width: 16px;
            height: 16px;
            object-fit: contain;

            @include max(laptop) {
                width: 13px;
                height: 13px;
            }

            @include max(mobile) {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: $c-white;
        margin-top: 20px;
        transition: color $tr;

        @include max(laptop) {
            font-size: 14px;
        }

        @include max(mobile) {
            margin-top: 12px;
            font-size: 12px;
        }
    }

    &__slider {
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 5;
    }

    &__pagination.swiper-pagination-bullets {
        position: absolute;
        bottom: 26px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 5px;
        z-index: 3;

        .swiper-pagination-bullet {
            width: 20px;
            height: 5px;
            background-color: $c-text-light;
            border-radius: 30px;
            margin: 0;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $c-bullet-active;
        }
    }
}

.prod-card {
    &--cover &__top {
        padding: 30px 30px 10px;
        background-color: transparent;

        @include max(laptop) {
            padding: 10px 10px 0;
        }

        @include max(xs) {
            padding: 0;
        }

    }

    &--cover &__img {
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        overflow: hidden;
        aspect-ratio: 1 / 1.454;
        transition: box-shadow $tr;

        @include max(laptop) {
            border-radius: 15px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--cover:hover &__img {
        box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.3);
    }

    &--cover &__favorite {
        right: 40px;
        top: 40px;

        @include max(laptop) {
            right: 20px;
            top: 20px;
        }
    }
}

.prod-card {
    &--decor &__top {
        padding: 30px 30px 10px;
        background-color: transparent;

        @include max(laptop) {
            padding: 10px 10px 0;
        }

        @include max(xs) {
            padding: 0;
        }

    }

    &--decor &__img {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        overflow: hidden;
        aspect-ratio: 1 / 1.454;
        transition: box-shadow $tr;
        background-color: $c-cards-bg;

        @include max(laptop) {
            border-radius: 15px;
        }

        img {
            flex: 1 1 100%;
            width: 100%;
            height: calc((100% - 10px) / 2);
            object-fit: contain;
        }
    }

    &--decor:hover &__img {
        box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.3);
    }

    &--decor &__favorite {
        right: 40px;
        top: 40px;

        @include max(laptop) {
            right: 20px;
            top: 20px;
        }

        @include max(xs) {
            right: 10px;
            top: 10px;
        }
    }
}

.prod-card {
    &--facade &__top {
        background-color: transparent;
        padding: 32px 40px 0;

        @include max(laptop) {
            padding: 10px 10px 0;
        }

        @include max(xs) {
            padding: 0;
        }
    }

    &--facade &__favorite {
        right: 45px;
        top: 35px;

        @include max(laptop) {
            right: 20px;
            top: 20px;
        }

        @include max(xs) {
            right: 10px;
            top: 10px;
        }
    }
}

.prod-card {
    &--square &__img {
        aspect-ratio: 1 / 0.8;
    }
}