.prod-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &__top {
        flex: 0 0 auto;
        position: relative;
        padding: 33px 46px 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2F2F2E;

        @include max(laptop) {
            padding: 20px 24px 20px;
        }

        @include max(mobile) {
            padding: 10px 12px 10px;
        }
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1.57;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__favorite {
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transition: all $tr;
        color: transparent;

        @include min(tablet) {
            visibility: hidden;
            opacity: 0;
            transform: translateY(50%);
        }

        @include max(laptop) {
            right: 10px;
            top: 10px;
        }

        @include max(mobile) {
            right: 5px;
            top: 5px;
        }

        svg {
            width: 36px;
            height: 36px;

            @include max(laptop) {
                width: 24px;
                height: 24px;
            }

            @include max(mobile) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &:hover &__favorite,
    &--favorite &__favorite {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    &--favorite &__favorite {
        color: $c-favorite;
    }

    &__tags {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;

        @include max(laptop) {
            right: 10px;
            bottom: 10px;
        }

        @include max(mobile) {
            right: 5px;
            bottom: 5px;
        }
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px 6px 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: $c-white;

        @include max(laptop) {
            font-size: 12px;
            padding: 5px 8px 6px 5px;
        }

        @include max(mobile) {
            padding: 2px 5px 3px 2px;
            font-size: 10px;
        }

        img {
            width: 16px;
            height: 16px;
            object-fit: contain;

            @include max(laptop) {
                width: 13px;
                height: 13px;
            }

            @include max(mobile) {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: $c-white;
        margin-top: 20px;
        transition: color $tr;

        @include max(laptop) {
            font-size: 14px;
        }

        @include max(mobile) {
            margin-top: 12px;
            font-size: 12px;
        }
    }

    &:hover &__title {
        color: $c-accent;
    }
}