.s-conditions {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 50px 24px;

        @include max(laptop) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(mobile) {
            gap: 32px 16px;
        }

        @include max(xs) {
            gap: 24px;
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

.condition-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
    height: fit-content;


    @include max(large) {
        padding-right: 24px;
    }

    @include max(mobile) {
        padding-right: 16px;
    }

    @include max(xs) {
        padding-right: 0;
        padding-bottom: 24px;
    }

    &:not(:last-child) {
        border-right: 1px solid $c-bg-grey;

        @include max(laptop) {
            border-right: none;
        }

        @include max(xs) {
            border-bottom: 1px solid $c-bg-grey;
        }
    }

    &:nth-child(odd) {

        @include max(laptop) {
            border-right: 1px solid $c-bg-grey;
        }

        @include max(xs) {
            border-right: none;
        }
    }

    &__num {
        font-family: $ff-code;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
    }

    &__icon {
        width: 44px;
        height: 44px;
        margin-top: 20px;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        margin-top: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 15px;
        font-size: 16px;
    }
}