.sl-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 56px;
    background-color: rgba(67, 67, 66, 0.7);

    @include max(laptop) {
        padding: 20px;
    }

    &__slider {
        overflow: hidden;
        width: 100%;
    }

    &__pagination.swiper-pagination-bullets {
        position: relative;
        top: -20px;
        bottom: auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 5px;
        z-index: 3;

        .swiper-pagination-bullet {
            width: 20px;
            height: 5px;
            background-color: $c-text-light;
            border-radius: 30px;
            margin: 0;
        }

        .swiper-pagination-bullet-active {
            background-color: $c-bullet-active;
        }
    }

    &__text {
        margin-top: 15px;
        color: $c-text-light;

        @include max(laptop) {
            font-size: 14px;
        }
    }
}