@import "preloader/preloader";
@import "header/header";
@import "breadcrumbs/breadcrumbs";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "tabs-block/tabs-block";
@import "home-catalog/home-catalog";
@import "solutions/solutions";
@import "s-about/s-about";
@import "s-download/s-download";
@import "s-stocks/s-stocks";
@import "s-news/s-news";
@import "accordion/accordion";
@import "s-faq/s-faq";
@import "s-map/s-map";
@import "s-docs/s-docs";
@import "s-catalog/s-catalog";
@import "s-conditions/s-conditions";
@import "s-title/s-title";
@import "img-text/img-text";