@import "header/header";
@import "footer/footer";
@import "modals/modals";
@import "main-burger/main-burger";
@import "home-intro/home-intro";
@import "s-catalog/s-catalog";
@import "solutions/solutions";
@import "s-about/s-about";
@import "s-download/s-download";
@import "s-stocks/s-stocks";
@import "s-news/s-news";
@import "accordion/accordion";
@import "s-faq/s-faq";
@import "s-map/s-map";