.s-docs {
    &__container {
        display: flex;
        align-items: flex-start;
        gap: 100px;

        @include max(large) {
            gap: 50px;
        }

        @include max(laptop) {
            gap: 32px;
        }
    }

    &__media {
        position: relative;
        flex: 0 0 442px;

        @include max(large) {
            flex: 0 0 400px;
        }

        @include max(laptop) {
            flex: 0 0 270px;
        }

        @include max(tablet) {
            display: none;
        }

        picture,
        img {
            width: 100%;
        }
    }

    &__cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $c-bg-main;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__list {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        @include max(laptop) {
            margin-top: 32px;
        }
    }
}