.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 99;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 10%;
        background-color: $c-black;

        &--1 {
            left: 0;
        }

        &--2 {
            left: 10%;
        }

        &--3 {
            left: 20%;
        }

        &--4 {
            left: 30%;
        }

        &--5 {
            left: 40%;
        }

        &--6 {
            left: 50%;
        }

        &--7 {
            left: 60%;
        }

        &--8 {
            left: 70%;
        }

        &--9 {
            left: 80%;
        }

        &--10 {
            left: 90%;
        }

    }
}