-
    const defaultPreloaderProps = {
        classes: '',
    }

mixin preloader(props = defaultPreloaderProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPreloaderProps.classes,
        }

    .preloader(class= checkProps.classes data-js="preloader" style="mask: url(#diamonds);")&attributes(attributes)
        .preloader__bg.preloader__bg--start(data-js="preloaderBg")
            img(src="img/preloader/preloader_bg.webp" alt="")
            .preloader__line.preloader__line--1(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--2(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--3(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--4(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--5(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--6(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--7(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--8(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--9(data-js="preloaderLine")
                .preloader__innerline
            .preloader__line.preloader__line--10(data-js="preloaderLine")
                .preloader__innerline
        .d-container.preloader__content
            .preloader__logo.preloader__logo--start(data-js="preloaderLogo")
                img(src="img/logo.svg" alt="")
            .height-anim(data-js="heightAnim")
                .preloader__logotext(data-js="heightAnimContent")
                    svg
                        use(xlink:href=`img/sprites/sprite.svg#logo_text`)
            .height-anim(data-js="heightAnim")
                .preloader__title(data-js="heightAnimContent") Фасады для Вашей мебели
            .height-anim(data-js="heightAnim")
                .preloader__tag(data-js="heightAnimContent") Since 2012

    <svg class="preloader-mask" width="100%" height="100%" viewBox="0 0 344.8 344.8" preserveAspectRatio="xMidYMid meet">
        <defs>
            <linearGradient id="myGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="red" />
                <stop offset="100%" stop-color="blue" />
            </linearGradient>
            <mask id="diamonds">
                <rect width="100vw" height="100vh" fill="white"></rect>
                <path class="preloader-mask__figure" data-js="preloaderMaskFigure" opacity="0.2" d="M172.4 141.4L203.4 172.4L172.4 203.4L141.4 172.4L172.4 141.4ZM172.4 0L101.7 70.7L70.7 101.7L0 172.4L70.7 243.1L101.7 274.1L172.4 344.8L243.1 274.1L274.1 243.1L344.8 172.4L274.1 101.7L243.1 70.7L172.4 0Z" fill="url(#myGradient)"/>
                <path class="preloader-mask__figure" data-js="preloaderMaskFigure" opacity="0.6" d="M172.402 141.399L203.402 172.399L172.402 203.399L141.402 172.399L172.402 141.399ZM172.402 70.6992L137.002 106.099L106.002 137.099L70.6016 172.499L106.002 207.899L137.002 238.899L172.402 274.299L207.802 238.899L238.802 207.899L274.202 172.499L238.802 137.099L207.802 106.099L172.402 70.6992Z" fill="url(#myGradient)"/>
                <path class="preloader-mask__figure" data-js="preloaderMaskFigure" opacity="1" d="M141.4 172.4L172.4 203.4L203.4 172.4L172.4 141.4Z" fill="#000"/>
            </mask>
        </defs>
    </svg>
