-
    const defaultSAboutProps = {
        classes: '',
    }

mixin s-about(props= defaultSAboutProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultSAboutProps.classes
        }

    section.s-about.section.section--fh(class= checkProps.classes data-js="sAbout")&attributes(attributes)  
        .s-about__decor

            img(src='img/home/blured_bg.webp' alt='' style="mask: url(#hole);").s-about__bg
            <svg style="position: absolute; width: 0; height: 0;">
                <defs>
                <mask id="hole">
                    <rect width="58.7vw" height="100vw" fill="white"/>
                    <rect class="s-about__rect" data-js="sAboutRect" x="37.6vw" y="10.556vh" width="19.53vw" height="19.53vw" fill="black"/>
                </mask>
                </defs>
            </svg>

            .s-about__video(data-js="sAboutVideo" data-aos="fade-up" data-aos-anchor='[data-js="sAbout"]' data-aos-anchor-placement='top-center' data-aos-duration="50")
                video(autoplay muted loop playsinline data-anim-type="height")
                    source(src="public/video/about.mp4" type="video/mp4")
                .s-about__logo(data-js="sAboutLogo")
                    <svg width="814" height="136" viewBox="0 0 814 136" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_1358)">
                            <path data-anim-type="opacityUp100" d="M52.6299 2.92871C71.9622 2.92872 86.6746 5.10938 96.7314 9.50391C106.821 13.8976 114.925 21.2211 121.044 31.4736C127.196 41.7266 130.255 53.5737 130.255 66.9834C130.255 85.0137 124.787 100.05 113.852 112.158C101.581 125.666 82.8986 132.402 57.7715 132.402H0V128.888H4.84961C10.317 128.888 14.1907 127.13 16.4688 123.647C17.8684 121.565 18.5518 116.846 18.5518 109.555V25.7783C18.5518 17.7056 17.674 12.6616 15.8828 10.6426C13.4102 7.84437 9.73099 6.44434 4.84961 6.44434H0V2.92871H52.6299ZM56.4043 10.1543C50.7087 10.1543 44.1993 11.0665 36.9082 12.9219V122.899C44.9807 124.689 51.7178 125.568 57.1855 125.568C71.8971 125.568 84.1026 120.392 93.835 110.011C103.534 99.6603 108.384 85.5995 108.384 67.8613C108.384 49.9934 103.534 35.9002 93.835 25.6152C84.1026 15.2981 71.6366 10.1543 56.4043 10.1543Z" fill="#111010"/>
                            <path data-anim-type="opacityUp100" d="M236.026 61.1244V9.95903H271.504C277.915 9.95903 282.407 10.4484 284.945 11.3921C288.102 12.7585 290.512 14.7118 292.138 17.2834C293.766 19.8539 295.231 24.5732 296.565 31.4415H300.275L298.908 2.92931H199.117V6.44479H203.707C209.077 6.44479 212.885 7.71452 215.197 10.2525C216.856 12.1403 217.67 17.1856 217.67 25.3871V109.555C217.67 115.87 217.311 120.035 216.563 122.086C215.847 124.136 214.447 125.666 212.397 126.675C209.663 128.139 206.766 128.887 203.707 128.887H199.117V132.403H298.875L310.039 99.9862H306.134C302 107.927 297.965 113.884 294.026 117.822C290.999 120.816 287.81 122.835 284.522 123.843C281.203 124.853 275.897 125.373 268.606 125.373H246.701C243.154 125.373 240.713 125.015 239.444 124.267C238.174 123.551 237.296 122.541 236.775 121.304C236.286 120.068 236.026 116.586 236.026 110.857V68.1541H264.539C269.941 68.1541 273.944 68.8057 276.548 70.0739C279.153 71.3437 281.039 73.1017 282.179 75.3152C283.057 77.1047 283.969 81.1738 284.848 87.4875H288.362V42.3769H284.848C284.457 49.7325 282.635 54.8753 279.315 57.8047C276.841 60.0182 271.926 61.1244 264.539 61.1244H236.026Z" fill="#111010"/>
                            <path data-anim-type="opacityUp100" d="M412.041 60.7342V9.95903H440.488C447.225 9.95903 452.172 10.6103 455.394 11.8801C458.584 13.1499 461.285 15.2332 463.499 18.0652C465.679 20.8955 467.6 25.3545 469.26 31.4415H472.58L471.212 2.92931H375.133V6.44479H379.721C382.846 6.44479 385.776 7.19268 388.509 8.72277C390.495 9.86221 391.797 11.2287 392.448 12.8242C393.261 14.9061 393.685 19.2354 393.685 25.7785V109.555C393.685 117.302 392.936 122.183 391.405 124.233C388.965 127.325 385.092 128.887 379.721 128.887H375.133V132.403H430.593V128.887H425.971C422.912 128.887 420.016 128.139 417.248 126.609C415.231 125.471 413.897 124.103 413.278 122.508C412.465 120.426 412.041 116.096 412.041 109.555V68.74H435.476C439.836 68.74 443.092 69.326 445.305 70.5312C447.517 71.7019 449.243 73.4592 450.512 75.8352C451.749 78.1786 452.4 81.8898 452.464 86.9016H455.98V42.9628H452.464C451.619 50.1235 449.959 54.8428 447.421 57.2188C444.915 59.5614 440.911 60.7342 435.476 60.7342H412.041Z" fill="#111010"/>
                            <path data-anim-type="opacityUp100" d="M578.159 60.7342V9.95903H606.606C613.342 9.95903 618.289 10.6103 621.512 11.8801C624.702 13.1499 627.403 15.2332 629.616 18.0652C631.797 20.8955 633.717 25.3545 635.377 31.4415H638.697L637.331 2.92931H541.25V6.44479H545.84C548.963 6.44479 551.893 7.19268 554.627 8.72277C556.612 9.86221 557.914 11.2287 558.566 12.8242C559.38 14.9061 559.802 19.2354 559.802 25.7785V109.555C559.802 117.302 559.054 122.183 557.524 124.233C555.083 127.325 551.209 128.887 545.84 128.887H541.25V132.403H596.711V128.887H592.09C589.03 128.887 586.133 128.139 583.367 126.609C581.349 125.471 580.014 124.103 579.396 122.508C578.582 120.426 578.159 116.096 578.159 109.555V68.74H601.593C605.954 68.74 609.209 69.326 611.422 70.5312C613.636 71.7019 615.36 73.4592 616.63 75.8352C617.867 78.1786 618.518 81.8898 618.583 86.9016H622.098V42.9628H618.583C617.737 50.1235 616.076 54.8428 613.538 57.2188C611.032 59.5614 607.029 60.7342 601.593 60.7342H578.159Z" fill="#111010"/>
                            <path data-anim-type="opacityUp100" d="M751.173 -0.000137329C767.935 -0.000137329 782.483 6.37886 794.753 19.1377C807.056 31.8974 813.208 47.8119 813.208 66.9177C813.208 86.577 807.024 102.882 794.624 115.87C782.257 128.855 767.251 135.332 749.643 135.332C731.872 135.332 716.933 128.985 704.826 116.325C692.717 103.664 686.664 87.293 686.664 67.1777C686.664 46.6405 693.662 29.8792 707.625 16.8917C719.764 5.63086 734.281 -0.000137329 751.173 -0.000137329ZM749.351 6.83601C737.828 6.83601 728.553 11.1321 721.588 19.7234C712.897 30.432 708.536 46.0879 708.536 66.7221C708.536 87.8457 713.027 104.12 722.043 115.51C728.976 124.169 738.089 128.498 749.449 128.498C761.588 128.498 771.58 123.745 779.489 114.274C787.398 104.771 791.337 89.831 791.337 69.3912C791.337 47.2264 786.975 30.6923 778.285 19.8213C771.32 11.1642 761.686 6.83601 749.351 6.83601Z" fill="#111010"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_215_1358">
                                <rect width="813.209" height="135.332" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>

        .d-container.s-about__content
            .section__title-block
                div(data-js="sAboutTitle" data-anim-type='opacity')
                    +title({
                        text: 'Компания',
                        tag: 'h2',
                        animColor: true
                    })
                .text-editor(data-js="sAboutText" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor='[data-js="sAbout"]' data-aos-anchor-placement='top-center') Ваш надёжный партнёр, который всегда изготовит качественные мебельные фасады. Многолетний опыт, профессиональные сотрудники, а также современное оборудование и широкий выбор ассортимента наших каталогов позволяют с лёгкостью решать любые вопросы, которые могут возникать перед нашими клиентами. Ниже представлена информация для связи с нашими офисами. Вы можете нам позвонить, написать или заказать обратный звонок и мы с радостью вам поможем.
            .s-about__cards(data-js="sAboutCards" data-aos="fade-up" data-aos-duration="600" data-aos-delay="1000" data-aos-anchor='[data-js="sAbout"]' data-aos-anchor-placement='top-center')
                .s-about__card
                    .s-about__icon
                        img(src="img/about/about_card_1.svg" alt="")
                    .s-about__subtitle Доставка <br>и сборка мебели
                    .s-about__text Доставим ваш заказ и соберём мебель на квартире в один день
                .s-about__card
                    .s-about__icon
                        img(src="img/about/about_card_2.svg" alt="")
                    .s-about__subtitle Бесплатное <br>изготовление
                    .s-about__text 3D-макета командой дизейнеров
                .s-about__card
                    .s-about__icon
                        img(src="img/about/about_card_3.svg" alt="")
                    .s-about__subtitle Бесплатный <br>замер
                    .s-about__text Вызови мастера на бесплатный замер для изготовление мебели
                .s-about__card
                    .s-about__icon
                        img(src="img/about/about_card_4.svg" alt="")
                    .s-about__subtitle Гарантируем <br>изготовление в срок
                    .s-about__text Вылечиваем неустойку 0,01% за каждый просроченный день