.title {
    color: $c-white;
    font-family: $ff-montserrat;

    /*&--light {
        color: $c-white;
    }*/

    /*span {
        color: $c-text-grey;
    }*/

    /*.small {
        font-size: 40%;
    }*/

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--60 {
        font-size: 60px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;

        @include max(large) {
            font-size: 48px;
        }

        @include max(tablet) {
            font-size: 42px;
        }

        @include max(mobile) {
            font-size: 38px;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }

    &--40 {
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;

        @include max(large) {
            font-size: 32px;
        }

        @include max(mobile) {
            font-size: 26px;
        }

        @include max(xs) {
            font-size: 22px;
        }
    }

    &--30 {
        font-size: 30px;
        font-weight: 500;
        line-height: 150%;

        @include max(laptop) {
            font-size: 24px;
        }

        @include max(tablet) {
            font-size: 20px;
        }
    }

    &--26 {
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;

        @include max(tablet) {
            font-size: 20px;
        }

        @include max(xs) {
            font-size: 18px;
        }
    }

    /*
    &--22 {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: -0.04em;

        @include max(laptop) {
            font-size: 20px;
        }

    }

    &--20 {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: -0.04em;

        @include max(laptop) {
            font-size: 18px;
        }

        @include max(mobile) {
            font-size: 16px;
        }

        @include max(xs) {
            font-size: 14px;
        }

    }*/

}