.s-download {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    @include max(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section__bg {
        max-width: 1240px;

        @include max(laptop) {
            opacity: 0.5;
        }
    }

    &__content {
        max-width: 753px;
        margin-right: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;

        @include max(mobile) {
            margin-right: 0;
            gap: 20px;
        }
    }

    &__desc {
        margin-bottom: 15px;
    }

}