.tooltip {
    position: relative;
    width: fit-content;

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 66px;
            height: 66px;
            object-fit: contain;

            @include max(mobile) {
                width: 33px;
                height: 33px;
            }
        }
    }


    &__tooltip {
        display: flex;
        align-items: center;
        padding: 10px 18px;
        border-radius: 30px;
        min-height: 40px;
        position: absolute;
        left: calc(100% - 17px);
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(30px);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $c-black;
        width: max-content;
        max-width: 350px;
        transition: all $tr;
        visibility: hidden;
        opacity: 0;

        @include max(mobile) {
            left: calc(100% - 7px);
            padding: 5px 10px;
            font-size: 12px;
            min-height: 25px;

        }
    }

    &.active {
        z-index: 10;
    }

    &.active &__tooltip {
        left: calc(100% - 7px);
        visibility: visible;
        opacity: 1;

        @include max(mobile) {
            left: calc(100% - 2px)
        }
    }
}

.tooltip {
    &--reverse &__tooltip {
        left: auto;
        right: calc(100% - 17px);
        text-align: end;

        @include max(mobile) {
            right: calc(100% - 7px)
        }
    }

    &--reverse.active &__tooltip {
        left: auto;
        right: calc(100% - 7px);

        @include max(mobile) {
            right: calc(100% - 2px)
        }
    }
}