.lk-layout {
    margin-bottom: 70px;

    @include max(large) {
        margin-bottom: 50px;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        gap: 30px;

        @include max(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__back {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $c-accent;
        transition: color $tr;

        @include max(mobile) {
            margin-bottom: 16px;
        }

        &:hover {
            color: $c-accent-hover;
        }

        svg {
            width: 21px;
            height: 21px;
            transform: rotate(-180deg);
        }
    }

    &__title {
        flex: 0 1 auto;
        text-transform: none;
    }

    &__date {
        flex: 0 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $c-text-light;

        @include max(tablet) {
            font-size: 14px;
        }

    }

    &__container {
        margin-top: 64px;
        display: flex;
        align-items: flex-start;
        gap: 50px;

        @include max(large) {
            gap: 32px;
            margin-top: 40px;
        }

        @include max(tablet) {
            gap: 24px;
        }

        @include max(mobile) {
            flex-direction: column;
            align-items: stretch;
            margin-top: 32px;
        }
    }

    &__body {
        flex: 1 1 auto;
    }

    &__sidebar {
        flex: 0 0 442px;

        @include max(large) {
            flex: 0 0 400px;
        }

        @include max(laptop) {
            flex: 0 0 300px;
        }

        @include max(tablet) {
            flex: 0 0 270px;
        }
    }
}

.lk-sidebar {
    width: 100%;
    background-color: rgba(67, 67, 66, 0.4);
    padding: 25px 30px;

    @include max(large) {
        padding: 25px 20px;
    }

    @include max(laptop) {
        padding: 20px 12px;
    }

    &__company {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    &__name {
        margin-top: 5px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $c-text-light;
    }

    &__block+&__block {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid $c-bg-grey;

        @include max(tablet) {
            margin-top: 24px;
            padding-top: 24px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $c-accent;
        transition: color $tr;

        &:hover {
            color: $c-accent-hover;
        }

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $c-accent;
    }

    &__sum {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        margin-top: 10px;
    }

    &__btn {
        margin-top: 34px;
    }
}