-
    const defaultLkLayoutProps = {
        classes: '',
        page: '',
        title: 'Персональный раздел'
    }

mixin lk-layout(props= defaultLkLayoutProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultProdsListProps.classes,
            page: props.page ? props.page : defaultProdsListProps.page,
            title: props.title ? props.title : defaultProdsListProps.title,
        }

    section.lk-layout.section.section--top(class= checkProps.classes)&attributes(attributes)
        .d-container
            +title({
                classes: 'lk-layout__title',
                text: checkProps.title,
                size: 40,
                tag: 'h1'
            })
            .lk-layout__container
                .lk-layout__body
                    - if(checkProps.page === 'orders')
                        +lk-orders
                    - else if(checkProps.page === 'order')
                        .lk-sidebar
                    - else if(checkProps.page === 'basket')
                        .lk-sidebar
                    - else
                        +lk-common
                .lk-layout__sidebar
                    - if(page === 'basket')
                        .lk-sidebar
                    - else
                        .lk-sidebar
                            .lk-sidebar__block
                                .lk-sidebar__company ООО «Современные технологии»
                                .lk-sidebar__name Смородинова Анастасия
                                +btn({
                                    name: 'Ваша скидка 15%',
                                    cMode: 'rounded'
                                })
                            .lk-sidebar__block
                                .lk-sidebar__links
                                    a(href="javascript:void(0);").lk-sidebar__link
                                        img(src="img/conditions/conditions_4.svg" alt="")
                                        | История заказов
                                    a(href="javascript:void(0);").lk-sidebar__link
                                        img(src="img/conditions/conditions_7.svg" alt="")
                                        | Избранное
                                    a(href="javascript:void(0);").lk-sidebar__link
                                        img(src="img/conditions/conditions_6.svg" alt="")
                                        | Сменить пароль
                            .lk-sidebar__block
                                .lk-sidebar__links
                                    a(href="javascript:void(0);").lk-sidebar__link
                                        img(src="img/conditions/conditions_8.svg" alt="")
                                        | Выход