-
    const defaultLkLayoutProps = {
        classes: '',
        page: '',
        title: 'Персональный раздел',
        date: '',
        hasBackBtn: false
    }

mixin lk-layout(props= defaultLkLayoutProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultLkLayoutProps.classes,
            page: props.page ? props.page : defaultLkLayoutProps.page,
            title: props.title ? props.title : defaultLkLayoutProps.title,
            date: props.date ? props.date : defaultLkLayoutProps.date,
            hasBackBtn: props.hasBackBtn ? props.hasBackBtn : defaultLkLayoutProps.hasBackBtn,
        }

    section.lk-layout.section.section--top(class= checkProps.classes)&attributes(attributes)
        .d-container
            .lk-layout__header
                - if(checkProps.hasBackBtn === true)
                    a(href="javascript:void(0)").lk-layout__back
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_breadcrumbs`)
                        span К списку заказов
                +title({
                    classes: 'lk-layout__title',
                    text: checkProps.title,
                    size: 40,
                    tag: 'h1'
                })
                - if(checkProps.date.length > 0)
                    .lk-layout__date!= checkProps.date
            .lk-layout__container
                .lk-layout__body
                    - if(checkProps.page === 'orders')
                        +lk-orders
                    - else if(checkProps.page === 'order')
                        +lk-order
                    - else if(checkProps.page === 'basket')
                        +lk-basket
                    - else
                        +lk-common
                .lk-layout__sidebar
                    - if(checkProps.page === 'basket')
                        .lk-sidebar
                            .lk-sidebar__subtitle Итого:
                            .lk-sidebar__sum 250 000 Р
                            +btn({
                                classes: 'lk-sidebar__btn',
                                name: 'оформить заказ'
                            })
                    - else
                        .lk-sidebar
                            .lk-sidebar__block
                                .lk-sidebar__company ООО «Современные технологии»
                                .lk-sidebar__name Смородинова Анастасия
                                +btn({
                                    name: 'Ваша скидка 15%',
                                    cMode: 'rounded'
                                })
                            .lk-sidebar__block
                                .lk-sidebar__links
                                    +link-icon({
                                        name: 'История заказов',
                                        icon: 'img/conditions/conditions_4.svg'
                                    })
                                    +link-icon({
                                        name: 'Избранное',
                                        icon: 'img/conditions/conditions_7.svg'
                                    })
                                    +link-icon({
                                        name: 'Сменить пароль',
                                        icon: 'img/conditions/conditions_6.svg'
                                    })
                            .lk-sidebar__block
                                .lk-sidebar__links
                                    +link-icon({
                                        name: 'Выход',
                                        icon: 'img/conditions/conditions_8.svg'
                                    })