.pagination {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;

    @include max(mobile) {
        gap: 10px;
    }

    &--center {
        justify-content: center;
    }

    &__page,
    &__separator {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: transparent;
        color: $c-accent;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        border: 1px solid;
        border-image-source: linear-gradient(90deg, #B68C74 0%, #865F46 100%);
        border-image-slice: 20;
        margin: 0 !important;
        padding: 0 !important;

        @include max(mobile) {
            width: 40px;
            height: 40px;
            font-size: 14px;
            border-image-slice: 10;
        }

    }

    &__page {
        transition: all $tr;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $c-accent-hover;
            background-image: linear-gradient(90deg, #B68C74 0%, #865F46 100%);
            opacity: 0;
            transition: all $tr;
        }

        &:hover,
        &.active {
            background-image: none;
            color: $c-white !important;
        }

        &:hover::after,
        &.active::after {
            opacity: 1;
        }

        span {
            position: relative;
            z-index: 3;
        }
    }

}