.site-footer {
    position: relative;
    color: $c-white;

    &__container {
        padding: 0 0 60px;

        @include max(tablet) {
            padding: 0 0 50px;
        }
    }

    &__top {
        position: relative;
        display: flex;
        align-items: stretch;
        gap: 150px;
        margin-top: 60px;
        padding-top: 60px;
        border-top: 1px solid $c-bg-grey;

        @include max(large) {
            gap: 80px;
        }

        @include max(forFooter) {
            flex-wrap: wrap;
            gap: 150px;
        }

        @include max(tablet) {
            gap: 50px;
        }

        @include max(mobile) {
            flex-direction: column;
            gap: 40px;
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    &__column {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        flex: 0 1 auto;
        max-width: 300px;

        @include max(mobile) {
            max-width: 100%;
            flex: 0 0 auto;
            gap: 20px;
        }

        &--first {
            gap: 40px;

            @include max(forFooter) {
                margin-right: auto;
            }

            @include max(mobile) {
                display: contents;
            }
        }

        &--last {
            gap: 15px;
            margin-left: auto;
            max-width: 400px;

            @include max(forFooter) {
                margin-left: 0;
            }

            @include max(mobile) {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &__logo {
        width: 140px;

        @include max(forFooter) {
            margin-right: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $c-text-grey;

        @include max(mobile) {
            order: 3;
        }
    }

    &__socials {
        @include max(mobile) {
            order: 2;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        color: $c-white;
        transition: all $tr;

        &:hover {
            color: $c-accent;
        }
    }

    &__bottom {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: $c-white;
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid $c-bg-grey;

        @include max(mobile) {
            margin-top: 30px;
            padding-top: 30px;
        }

        a {
            text-decoration: underline;
            transition: all $tr;

            &:hover {
                color: $c-accent;
            }
        }

        @include max(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
    }

    &__developer {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $c-text-grey;

        a {
            color: $c-white;
        }
    }

    &__policy {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }














    &__callback {
        margin-top: auto;

        @include max(laptop) {
            margin-top: 0;
        }

        @include max(mobile) {
            order: 2;
        }
    }


}