mixin footer

    footer.site-footer.section
        .d-container
            .site-footer__container
                .site-footer__top
                    .site-footer__column.site-footer__column--first
                        .site-footer__logo
                            img(src="img/logo_full.svg" alt="Deffo логотип")
                        .site-footer__copyright © 2025. Все права защищены. <br>DEFFO - фасады для вашей мебели
                        +socials({
                            classes: "site-footer__socials",
                            mode: 'footer',
                            icons: [
                                'telegram',
                                'whatsapp',
                                'phone'
                            ]
                        })

                    .site-footer__column
                        .site-footer__title Продукция:
                        ul.site-footer__list
                            a.site-footer__item(href="javascript:void(0);") Каталог
                            a.site-footer__item(href="javascript:void(0);") Готовые решения
                            a.site-footer__item(href="javascript:void(0);") Галерея фасадов

                    .site-footer__column
                        .site-footer__title Компания:
                        ul.site-footer__list
                            a.site-footer__item(href="javascript:void(0);") Акции
                            a.site-footer__item(href="javascript:void(0);") Новости
                            a.site-footer__item(href="javascript:void(0);") Партнерам
                            a.site-footer__item(href="javascript:void(0);") Контакты

                    .site-footer__column.site-footer__column--last
                        .site-footer__title Связаться с менеджером:
                        +form({
                            btnText: 'Заказать звонок',
                        })
                            +field({
                                placeholder: 'Ваше имя',
                                inputAttr: {
                                    'required': '',
                                    'data-type': 'letters'
                                },
                                hasError: true
                            })
                            +field({
                                placeholder: 'Ваш телефон',
                                type: 'tel',
                                inputAttr: {
                                    'data-type': 'phoneNumber',
                                    'required': '',
                                    'data-v-name': 'phone'
                                },
                                hasError: true
                            })

                .site-footer__bottom
                    a.site-footer__policy(href="javascript:void(0);") Политика конфиденциальности
                    .site-footer__developer
                        | Разработан в 
                        a(href="https://itspace.group/" target="_blank") ITS.GROUP