.pc-slider {
    position: relative;

    &__slider {
        margin: 40px auto 0;
        overflow: hidden;
        width: calc(100% - 88px * 2);

        @include max(laptop) {
            width: calc(100% - 40px * 2);
        }

        @include max(xs) {
            width: calc(100% - 34px * 2);
        }
    }

    .slider-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $c-white;
    }

    .slider-control--prev {
        left: 0px;
    }

    .slider-control--next {
        right: 0px;
    }

}