.s-catalog {
    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 50px 24px;
        margin-top: 60px;

        @include max(laptop) {
            gap: 24px;
        }

        @include max(tablet) {
            gap: 16px;
            margin-top: 32px;
        }

        @include max(mobile) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include max(xs) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    .catalog-card {
        aspect-ratio: 1 / 0.8;
    }
}

.catalog-card {
    display: flex;
    align-items: flex-end;
    position: relative;
    aspect-ratio: 1 / 0.8597;

    &--full {
        grid-column: 1 / 3;
        aspect-ratio: 1 / 0.555;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;
        min-height: 90px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $c-white;
        background-color: rgba(0, 0, 0, 0.5);

        @include max(laptop) {
            min-height: 60px;
            font-size: 14px;
        }

        @include max(mobile) {
            min-height: 50px;
            font-size: 12px;
        }

        span {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: '';
            width: 0px;
            height: 100px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all $tr;
        }
    }

    &:hover &__title:after {
        width: 100%;
    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}