.d-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    min-height: 59px;
    padding: 10px 25px;
    background-color: #fff;
    background-image: linear-gradient(90deg, #B68C74 0%, $c-accent-hover 100%);
    font-family: $ff-montserrat;
    color: $c-white;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all $tr;

    @include max(large) {
        font-size: 12px;
        min-height: 54px;
        padding: 10px 20px;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    &:hover {
        background-image: linear-gradient(180deg, #B68C74 0%, $c-accent-hover 100%);
    }

    &--transparent {
        padding: 0;
        color: $c-white;
        background-color: transparent;
        background-image: none;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            padding: 0;
        }

        svg {
            color: $c-accent;
        }

        &:hover {
            color: $c-accent;
            background-image: none;
        }
    }

    &--bordered {
        background-color: transparent;
        background-image: none;
        transition: all $tr;
        border: solid 1px $c-border;

        &:hover {
            background-image: none;
            border-color: $c-accent;
            color: $c-accent;
        }
    }

    &--accent-br {
        background-color: transparent;
        background-image: none;
        transition: all $tr;
        border: solid 1px $c-border;
        color: $c-accent;

        &:hover {
            background-image: none;
            border-color: $c-accent;
            color: $c-accent;
        }
    }

    &--accent-tr {
        padding: 0;
        color: $c-accent;
        background-color: transparent;
        background-image: none;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            font-size: 13px;
        }

        svg {
            width: 36px;
            height: 36px;

            @include max(laptop) {
                width: 28px;
                height: 28px;
            }
        }

        &:hover {
            color: $c-accent-hover;
            background-image: none;
        }
    }

    &--rounded {
        padding: 13px 15px;
        color: $c-black;
        background-color: #AE846C;
        background-image: none;
        min-height: 39px;
        border-radius: 20px;
        transition: all $tr;

        @include max(large) {
            min-height: 39px;
            font-size: 13px;
        }

        @include max(mobile) {
            min-height: 39px;
            font-size: 13px;
        }

        &:hover {
            color: $c-white;
            background-color: $c-accent-hover;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--full {
        width: 100%;
    }

}