.d-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    min-height: 59px;
    padding: 10px 25px;
    background-color: $c-accent;
    font-family: $ff-montserrat;
    color: $c-white;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all $tr;

    @include max(large) {
        font-size: 12px;
        min-height: 54px;
        padding: 10px 20px;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 100%;
        background-image: linear-gradient(90deg, #B68C74 0%, $c-accent-hover 50%, #B68C74 100%);
        transition: all 0.15s linear;
    }

    &:hover::after {
        left: -100%;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    span,
    svg {
        position: relative;
        z-index: 3;
    }


    &--transparent {
        padding: 0;
        color: $c-white;
        background-color: transparent;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            padding: 0;
        }

        &:after {
            content: none;
        }

        svg {
            color: $c-accent;
        }

        &:hover {
            color: $c-accent;
            background-image: none;
        }
    }

    &--bordered {
        background-color: transparent;
        transition: all $tr;
        border: solid 1px $c-border;

        &:after {
            content: none;
        }

        &:hover {
            border-color: $c-accent;
            color: $c-accent;
        }
    }

    &--bordered-acc {
        position: relative;
        background-color: transparent;
        background-image: none;
        transition: all $tr;
        color: $c-accent;
        border: solid 1px;
        border-image-source: linear-gradient(90deg, #B68C74 0%, #865F46 100%);
        border-image-slice: 20;
        border-image-repeat: stretch;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $c-accent-hover;
            background-image: linear-gradient(90deg, #B68C74 0%, #865F46 100%);
            opacity: 0;
            transition: all $tr;
        }

        &:hover,
        &.d-btn--active {
            color: $c-white;
        }

        &:hover::after,
        &.d-btn--active::after {
            opacity: 1;
            left: 0;
        }

        svg,
        span {
            position: relative;
            z-index: 3;
        }
    }

    &--accent-br {
        background-color: transparent;
        transition: all $tr;
        border: solid 1px $c-border;
        color: $c-accent;

        &:hover {
            border-color: $c-accent;
            color: $c-accent;
        }

        &:after {
            content: none;
        }
    }

    &--accent-tr {
        padding: 0;
        color: $c-accent;
        background-color: transparent;
        min-height: auto;

        @include max(large) {
            min-height: auto;
            font-size: 13px;
        }

        svg {
            width: 36px;
            height: 36px;

            @include max(laptop) {
                width: 28px;
                height: 28px;
            }
        }

        &:hover {
            color: $c-accent-hover;
        }

        &:after {
            content: none;
        }
    }

    &--rounded {
        padding: 13px 15px;
        color: $c-black;
        background-color: #AE846C;
        min-height: 39px;
        border-radius: 20px;
        transition: all $tr;

        @include max(large) {
            min-height: 39px;
            font-size: 13px;
        }

        @include max(mobile) {
            min-height: 39px;
            font-size: 13px;
        }

        &:hover {
            color: $c-white;
            background-color: $c-accent-hover;
        }

        &:after {
            content: none;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--full {
        width: 100%;
    }

}