.order-prod {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: $c-bg-grey-dark;

    @include max(laptop) {
        padding: 12px;
        flex-wrap: wrap;
    }

    @include max(mobile) {
        gap: 20px 12px;
    }

    &__img {
        flex: 0 0 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(67, 67, 66, 0.7);
        height: 100px;
        padding: 8px;

        @include max(mobile) {
            flex: 0 0 49px;
            height: 71px;
            padding: 4px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;

        @include max(laptop) {
            flex: 0 0 calc(100% - 70px - 24px);
        }

        @include max(mobile) {
            flex: 0 0 calc(100% - 49px - 24px);
        }
    }

    &__title {
        color: $c-white;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        @include max(mobile) {
            font-size: 14px;
        }
    }

    a.order-prod__title {
        transition: color $tr;

        &:hover {
            color: $c-accent;
        }
    }

    &__text {
        color: $c-text-light;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        @include max(mobile) {
            font-size: 12px;
        }
    }

    &__amount {
        margin-left: auto;
        flex: 0 0 auto;

        @include max(laptop) {
            margin-left: 0;
            justify-content: flex-start;
        }
    }
}