.cards-slider {
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
        margin-top: 40px;
    }

}

.sp-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $c-white;

    &__img {
        width: 100%;
        aspect-ratio: 1 / 0.7;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-top: 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;

        @include max(tablet) {
            font-size: 22px;
            margin-top: 15px;
        }

        @include max(xs) {
            font-size: 18px;
            margin-top: 10px;
        }
    }

    &:hover &__title {
        color: $c-accent;
    }

    &__text {
        font-size: 16px;
        margin-top: 15px;

        @include max(tablet) {
            font-size: 14px;
            margin-top: 5px;
        }

    }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.sp-card {
    &--low &__img {
        aspect-ratio: 1 / 0.6;
    }
}