.img-text {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 20px;
        background-color: rgba(67, 67, 66, 0.7);
        backdrop-filter: blur(40px);

        @include max(large) {
            gap: 40px;
        }

        @include max(laptop) {
            gap: 24px;
        }

        @include max(tablet) {
            gap: 30px;
            flex-direction: column;
        }

        @include max(mobile) {
            padding: 10px 10px 16px;
        }
    }

    &__row--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__title {
        text-transform: none;

        br {
            @include max(mobile) {
                display: none;
            }
        }
    }

    &__text.text-editor {
        font-size: 16px;
        margin-top: 30px;

        @include max(mobile) {
            margin-top: 20px;
        }
    }

    &__btns {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 49.33%;
        align-self: flex-start;

        @include max(tablet) {
            max-width: 500px;
            width: 100%;
        }

        img {
            overflow: hidden;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 0.637;
            object-fit: cover;
        }

        /*img+.d-btn {
            margin-top: 20px;
        }*/
    }

    &__row--reverse &__img {
        align-items: flex-end;

        @include max(tablet) {
            align-items: flex-start;
        }
    }

}