-
    const defaultAccordionProps = {
        classes: '',
        spoilers: [
            {
                title: 'Из каких материалов вы изготавливаете мебельные фасады?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            },
            {
                title: 'Какие сроки производства фасадов?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            },
            {
                title: 'Можно ли изготовить фасады по индивидуальным размерам и дизайну?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            },
            {
                title: 'Какие покрытия и виды отделки вы используете?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            },
            {
                title: 'Как ухаживать за мебельными фасадами, чтобы они дольше сохраняли внешний вид?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            },
            {
                title: 'Предоставляете ли вы гарантию на продукцию?',
                text: 'Да, мы изготавливаем мебельные фасады по индивидуальным размерам и проектам. Вы можете выбрать материал, тип покрытия, цвет, фрезеровку и другие параметры — мы адаптируем производство под ваши требования и техническое задание. Перед запуском в работу все размеры и детали согласовываются, чтобы фасады идеально подошли к вашей мебели.',
            }
        ],
    }

mixin accordion(props = defaultAccordionProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultAccordionProps.classes,
            spoilers: props.spoilers ? props.spoilers : defaultAccordionProps.spoilers,
        }

    .accordion(class= checkProps.classes data-js="accordion")&attributes(attributes)
        - let sCount = 0
        - let spoilers = checkProps.spoilers
        - while(spoilers.length > sCount)
            - let spoiler = spoilers[sCount]
            .spoiler(data-js="spoiler")
                .spoiler__intro
                    .spoiler__title!= spoiler.title
                    .spoiler__icon
                        svg
                            use(xlink:href=`img/sprites/sprite.svg#arrow_chevron`)
                .spoiler__content(data-js="spoilerContent")
                    .text-editor!= spoiler.text

            - sCount++